<div>
  <div class="col-md-4" wind-rose-chart data="windData" options="windOptions"></div>
  <div class="col-md-4" wind-rose-chart data="otherWindData" options="windStrengthOptions"></div>
  <div class="col-md-4" temperature-chart data="highLowData" options="highLowOptions"></div>
  <linechart class="col-md-12" data="rainData" options="rainOptions" ng-if="rainData" height="300"></linechart>
  <linechart class="col-md-12" data="tempData" options="options" ng-if="tempData" height="300"></linechart>
</div>
